.history{
    height: 69.5vh;
    width: 100%;
    overflow: scroll;
    border-radius: 10px;
}
.history::-webkit-scrollbar {
    display: none; /* Para navegadores basados en WebKit */
}

.fijos{
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 10px;
    background: linear-gradient(180deg, #172437 0%, #172437 60.42%,  #172437 100%)
}

.label-history{
    color: skyblue;
}

.price-history{
    color: rgb(102, 255, 102);
}