.cripto{
    border-radius: 10px;
    border: 1px solid skyblue;
    border-left: 10px solid skyblue;
    padding-bottom: 3%;
}
.cripto h2{
    text-transform: uppercase;
    margin-left: 10%;
}

.info{
    margin-left: 10%
}

.label{
    color: whitesmoke;
    border-left: 50px;
    margin-left: 5px;
    color: skyblue;
    text-transform: uppercase;
}

.positivo{
    color: rgb(7, 255, 7);

}

.negativo{
    color: rgb(255, 32, 32);
}

.link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.link:hover{
    color: skyblue;
    
}