.cripto{
    border-radius: 10px;
    border: 1px solid skyblue;
    border-left: 10px solid skyblue;
    padding-bottom: 3%;
    padding: 15px;
    text-align: left;
}
.cripto h2{
    text-transform: uppercase;
    margin-left: 10%;
    margin-bottom: 3px;
}

.info{
    margin-left: 10% 
    
}

.label{
    
    color: whitesmoke;
    border-left: 50px;
    color: skyblue;
    text-transform: uppercase;
    
}

.positivo{
    color: rgb(7, 255, 7);

}

.negativo{
    color: rgb(255, 32, 32);
}

.link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 20px;
}

.link:hover{
    border-bottom: 2px solid white;
    
}