.login-container{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
    
}

.formulario{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.057);
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.field{
    padding: 10px;
}

.submit{
    text-align: center;
}

input[name=submit]{
    all: unset;
    background: white;
    color: rgb(0, 21, 58);
    border-radius: 2px;
    padding: 5px;
    font-size: 13px;
}

input[name=submit]:active{
    background-color: rgb(0, 26, 57);
    border-radius: 2px;
    color: white;
}

input[name=password],[name=email]{
    background:none;
    border: none;
    border-bottom: solid 2px white;
    color: white;
    width: 200px;
    margin-bottom: 3px;
}


input:focus {
    outline: none; /* Elimina el borde predeterminado */
  }