.main-perfil{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}

h1{
    font-size: 25px;
    padding: 10px;
}


.li{
    display: block;
    color: rgb(254, 254, 254);
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
}
.mayus{
    font-size: 18px;
    color: rgb(167, 230, 255);
    text-decoration: none;
}


.li a:active{
    color: rgb(0, 10, 70);
}