.main-menu{
    border-bottom: solid 2px rgba(255, 255, 255, 0.708);
    padding: 10px;
    width: 80%;
    margin: auto;
}

.main-menu a{
    color: white;
    text-decoration: none;
}

.ul-menu {
    display: flex;
    gap: 20px; /* Espacio entre elementos */
    list-style: none;
    padding: 0;
    margin: 0;
}


.menu:hover {
    border-bottom: 2px solid white;
}

.foto{
    width: 25px;
    margin-left: 5px;
}
li{
    cursor: pointer;
}

