
.info{
    
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    height: 80%;
}

.main-info{  
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.titulo-m{
    display: flex;
    margin: 0px;
    padding: 0px;
}

.details{
    font-size: 100%;
    align-items: center;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    list-style: n;
}

.detail{
    list-style-type: none;
}

@media (max-width: 768px) {
    .details,.main-info{
    font-size: 75%;
}
}

/* Para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    details,.main-info{
        font-size:90%;
    }
}

/* Para pantallas grandes como desktops */
@media (min-width: 1025px) {
    .details,.main-info{
        font-size: 100%;
    }
}
