
.info{
    display: flex;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 9%;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    height: 100%;
}

.main-info{  
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top:0px;
}

.titulo-m{
    display: flex;
    margin: 0px;
    padding: 0px;
    font-size: 5vh;
}
.rank{
    color: rgb(255, 255, 255);
    font-size: 4.5vh;
}

.rank-n{
    color: rgb(63, 255, 57);
    
}

.symbol{
    color: rgb(255, 255, 255);
    font-size: 4vh;
}
.details{
    margin-top: 7%;
    font-size: 100%;
    align-items: center;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    text-decoration: none;

}

.detail{
    list-style-type: none;
}

@media (max-width: 768px) {
    .details,.main-info{
    font-size: 75%;
}
}

/* Para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    details,.main-info{
        font-size:90%;
    }
}

/* Para pantallas grandes como desktops */
@media (min-width: 1025px) {
    .details,.main-info{
        font-size: 100%;
    }
}
