

.mainHome{
    
    bottom: 25px;
    padding: 10%;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    
}

.titulo{
    font-size: 40px;
}


.parrafo{
    margin-bottom: 30px;
    color: rgb(199, 199, 199);
}
.detalles{
    background-color: rgba(255, 255, 255, 0.227);
    color:rgb(255, 255, 255);
    padding: 10px;
    border-radius: 100px;
    text-decoration: none;
}


.detalles:hover{
    background-color: rgba(255, 255, 255, 0.815);
}
