

.mainHome{
    
    bottom: 25px;
    padding: 10%;
    border-radius: 10px;
    
    text-align: center;
}

.titulo{
    font-size: 40px;
    margin:0px;
    text-align: center;
}


.parrafo{
    margin-bottom: 30px;
    color: rgb(199, 199, 199);
}
.detalles{
    background-color: rgb(255, 255, 255);
    color: #172437;
    padding: 10px;
    border-radius: 100px;
    text-decoration: none;
}


.detalles:hover{
    background-color:rgb(10, 17, 28);
    color: rgb(255, 255, 255);
}
